<?xml version="1.0"?>
<launch>

	<node name="patrol" pkg="robbie_test" type="patrol_smach.py" output="log" >
    	<param name="square_size" value="1.0"/>
    	<param name="low_battery_threshold" value="11.2"/>
    	<param name="n_patrols" value="2"/>
    	<param name="move_base_timeout" value="50"/>
    </node>
</launch>
